<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiConexion" connectionString="Data Source=JTONYVAIO;Initial Catalog=CITRA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.CITRAConnectionString"
            connectionString="Data Source=DESKTOP-C5D2V8H;Initial Catalog=CITRA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.CITRAConnectionString1"
            connectionString="Data Source=DESKTOP-QLOPKUK;Initial Catalog=CITRA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>